body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display:flex;
            height:100vh;
	justify-content:center;
	align-items:center;
        }

        h1 {
            color: #333;
        }
        #list{
        
            display:flex;
        }

        a {
            text-decoration: none;
            display: inline-block;
            padding: 10px;
            margin: 5px;
            border: 1px solid #ccc;
            background-color: #fff;
            color: #333;
            border-radius: 5px;
        }

        a:hover {
            background-color: #ddd;
        }

        .newsongs {
            background-color: #66cdaa; 
            color: #fff;
        }

        .viewsongs {
            background-color: #4682b4; 
            color: #fff;
        }

        .createplaylist {
            background-color: #ffa07a;
            color: #fff;
        }

        .viewplaylist {
            background-color: #8a2be2; 
            color: #fff;
        }
