<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}">

</head>
<body>
<h1>Admin home</h1>
<div id="continer">
<div id="list">
<a class="newsongs"href="newSong">Add  a new  song</a>
<br />
<a class="viewsongs" href="viewSongs">View all songs</a>
<br />
<a  class="createplaylist"href="createPlaylist">Create Playlist</a>
<br />
<a  class="viewplaylist"href="viewPlaylists">View all Playlists</a>
</div>
</div>
</body>
</html>